* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #eee;
  display: flex;
  min-height: 100vh;
}


nav {
  width: 250px;
  background-color: #000;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid #ff5f00;
}

nav h2 {
  color: #ff5f00;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 4px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  background-color: #ff5f00;
  color: #000;
}


main {
  flex: 1;
  padding: 40px;
  background-color: #1a1a1a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.imagem {
  flex: 1;
  margin-right: 40px;
}

.imagem img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  border: 2px solid #ff5f00;
  box-shadow: 0 0 20px rgba(255, 95, 0, 0.4);
}


.conteudo {
  flex: 2;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  border-left: 4px solid #ff5f00;
}

.conteudo h1 {
  font-size: 30px;
  color: #ff5f00;
  margin-bottom: 20px;
}

.conteudo p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 16px;
}
